/vendor/
/node_modules/
/config/config.ini
/.env
/storage/cache/*
/storage/logs/*
/storage/sessions/*
/storage/tmp/*
/storage/uploads/*
!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
!/storage/sessions/.gitkeep
!/storage/tmp/.gitkeep
!/storage/uploads/.gitkeep
/.phpunit.cache/
/.php-cs-fixer.cache
/docs
/extension/build/
/cli/.toolchain/
/cli/go-toolchain.zip
/cli/dist/
/cli/.cache/
